---
import { getLaunchBy, getLatestLaunches } from "../../services/spacex"
import Layout from "../../layouts/Layout.astro"
const { id } = Astro.params

let launch
if(id) {
    launch = await getLaunchBy({ id })
}

export async function getStaticPath() {
    // llamar a una api externa
    // para saber todas las ids que debe generar
    const launches = await getLatestLaunches()

    return launches.map( launch => ({
        params: { id: launch.id},
    }))
}
---

<Layout title={`Lanzamiento ${id}`}>
<article class="flex gap-y-4 flex-col">
    <img class="w-52 h-auto" src={launch?.links?.patch.small} alt={launch?.name}>
    <h2 class="text-4xl text-white font-bold">Launch #{launch?.flight_number}</h2>
    <p class="text-lg">{launch?.details}</p>
</article>
</Layout>